{% extends "djangoapp/base.html" %}

{% block title %}About Us{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

      <div class="card text-center">
        <div class="card-body">
          <h1 class="card-title">About Us</h1>
          <p class="card-text">            
              Welcome to Best Cars dealership, home to the best cars in North America. We sell domestic and imported cars at reasonable prices.
            </p>
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
        <div class="card-footer text-muted">
          2021 Most Favoured Car Dealership
        </div>
      </div>
{% endblock %}